.divContainer {
  display: flex;
  padding: 1rem 0px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-evenly;
  border-radius: 1rem;
}
.divSearch {
  width:400px;
  display: flex;
}

.input{
  color: rgba(255, 255, 0);
  text-decoration: none;
  border-style: hidden;
  width: 100%;
  outline: none;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 255, 255, 0.5);
  transition: all 0.2s ease;
}
.input:hover {
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 255, 200, 1);
}

.button {
  --mycolor: rgba(0, 255, 200, 0.8);
  font-weight: bold;
  padding: 0.7em 1.7em;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-radius: 0.6em;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--mycolor);
  background: linear-gradient(
    to right,
    rgba(27, 253, 242, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 242, 0.1) 100%
  );
  color: var(--mycolor);
  box-shadow: inset 0 0 10px rgba(27, 253, 242, 0.3),
    0 0 9px 3px rgba(27, 253, 242, 0.5);
}
.button:hover {
  color: rgba(0, 255, 200, 1);
  background: rgba(27, 253, 242, 0.4);
  box-shadow: inset 0 0 10px rgba(27, 253, 242, 0.6),
    0 0 9px 3px rgba(27, 253, 242, 0.2);
}